input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ck-content ul {
  list-style-position: inside;
}

.ck-content {
  min-height: 80px;
}

.group[data-te-datepicker-cell-selected] .group-\[\[data-te-datepicker-cell-selected\]\]\:font-black {
  @apply border border-cerulean text-cerulean;
}
