/* CKEditor */
.ck-content ul,
.ck-content ol {
  list-style-position: inside;
  margin-left: 0.5rem;
}

.ck-content {
  min-height: 80px;
}

.ck-content a {
  @apply border-b border-info text-info;
}

.ck-balloon-panel {
  z-index: 9999 !important;
}

/* tailwind-elements date picker */
.group[data-te-datepicker-cell-selected] .group-\[\[data-te-datepicker-cell-selected\]\]\:font-black {
  @apply border border-cerulean text-cerulean;
}

/* SweetAlert */
.swal-btn-check {
  @apply mx-1 my-0 h-full rounded-full bg-brown-300 px-8 py-2 text-sm hover:bg-none hover:opacity-80 focus:shadow-none focus:ring-4 focus:ring-brown-100 focus:ring-opacity-[.6] !important;
}

.swal-btn-cancel {
  @apply mx-1 my-0 rounded-full border-2 border-solid border-brown-300 bg-transparent px-8 py-2 text-sm text-brown-300 hover:bg-none hover:opacity-80 focus:shadow-none focus:ring-4 focus:ring-gray-200 focus:ring-opacity-[.6] !important;
}

.swal2-top {
  @apply pt-[5%] lg:pt-[1%];
}

.swal2-center {
  @apply pb-[15%];
}

.swal2-title {
  @apply whitespace-nowrap;
}

body.swal2-toast-shown .swal2-container {
  @apply min-w-[220px] sm:w-auto !important;
}

.vld-overlay.is-full-page {
  z-index: 9999 !important;
}

.productCard img {
  transition: 0.3s all;
}
.productCard:hover {
  cursor: pointer;
}
.productCard:hover .card-img::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
}
.productCard:hover .view-detail {
  display: block !important;
}
.productCard:hover img {
  transform: scale(1.15);
}
